@font-face {
    font-family: "Noto Color Emoji Windows";
    src: url(fonts/NotoColorEmoji_WindowsCompatible.ttf);
}

@font-face {
    font-family: "Noto Color Emoji";
    src: url(fonts/NotoColorEmoji.ttf);
}

.options {
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 5vh;
}

.question-slide {
    text-align: left;
}

.categories {
    border: none !important;
}

.category {
    border-bottom: none !important;
    font-size: 0.7em;
    padding: 5vh 0 5vh 0 !important;
    text-align: center !important;
}

.category-link {
    text-align: center;
    color: white !important;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 1);
}

.category-link:hover {
    box-shadow: 0 0 20px rgba(0, 0 ,0 , 0.5);
}

.category-link.visited {
    background-color: rgb(65, 70, 104);
}

#foreign-literature > h1 {
    text-shadow: 1px 1px 8px black !important;
    color: #fff !important;
}

.full-size {
    width: 100%;
    height: 100%;
}

.titles {
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
}

.questions-row > td {
    border-right: 1px solid black;
}

.questions-row > td > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
}

.questions-row > td:last-child {
    border-right: none !important;
}

.questions-row > td.visited > a {
    color: #008000;
}

#finish-btn {
    margin-top: 5vh;
    display: none;
}

.time-input-wrapper {
    text-align: left;
}

.timer-val {
    margin-left: 5vw;
    font-size: 0.9em;
}

.center-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji {
    font-family: "Noto Color Emoji", serif !important;
}

#clock {
    font-family: "Noto Color Emoji", serif !important;
}