.options {
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 5vh;
}

.question-slide {
    text-align: left;
}

.categories {
    border: none !important;
}


.category {
    border-bottom: none !important;
    font-size: 0.7em;
    padding: 5vh 0 5vh 0 !important;
    text-align: center !important;
}

.category-link {
    text-align: center;
    color: white !important;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 1);
}

.category-link:hover {
    box-shadow: 0 0 20px rgba(0, 0 ,0 , 0.5);
}

#foreign-literature > h1 {
    text-shadow: 1px 1px 8px black !important;
    color: #fff !important;
}

